#viewhighscores {
    position: fixed;
    top: 0;
    left: 5px;
    color: purple;
}
.container-sm {
    text-align: center;
    margin-top: 200px;
    position: relative;
    line-height: 150%;
    display: block;
}
button {
    background-color: lavender;
    display: block;
    width: 100%;
}
#start, #submitinitials {
    width: 50%;
    margin: auto;
}
#quiz {
    display: none;
}
#time {
    position: fixed;
    right: 5px;
    top: 0;
    display: none;
}
#scorescreen {
    display: none;
}
#highscores {
    display: none;
    line-height: 150%;
}
ol {
    background-color: purple;
    height: 200%;
}
li {
    border: solid white 2px;
    font-size: 24px;
    color: white;
    line-height: 150%;
}